{% extends 'chatapp/base.html' %}
{% block body %}
  <div class="flex items-center justify-between">
    <h1 class="font-bold m-10 text-xl">Chat Rooms</h1>

    <!-- Add a button to create a new chat room -->
    {% if user.is_authenticated %}
      <form action="{% url 'create_room' %}" method="get">
        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline">Create a New Chat Room</button>
      </form>
    {% endif %}
  </div>

  {% for chatroom in chatrooms %}
    <div class="shadow-lg p-5 m-5 bg-blue-900 text-white rounded-lg m-7 text-xl">
      <a href="{% url 'chatroom' chatroom.slug %}">{{ chatroom.name }}</a>
    </div>
  {% endfor %}
{% endblock %}
